# ROS build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
motor_ws/build/
motor_ws/install/
motor_ws/log/

# Debs (you can keep them if needed, but usually large)
debs/*.deb

# Python & temporary files
__pycache__/
*.pyc
